{% extends "newsfeed/layout.html" %}

{% block body %}
    <div class="navbar">
        <a href="{% url 'newsfeed:main' %}"><h1>Timbook</h1></a>
        <a href="{% url 'users:profile' %}"><img src="{{ user.profile.image.url }}" width="40px"></a>
        <a href="{% url 'users:logout' %}">Log out</a>
    </div>
    <hr>
    <h6>{{ object.author }}</h6>
    <h6>{{ object.date_posted }}</h6>
    <h2>{{ object.title }}</h2>
    <p>{{ object.content|linebreaksbr|add:' '|safe }}</p>

    {% if object.author == user %}
        <a href="{% url 'newsfeed:post_update' pk=object.pk %}">Update Post</a>
        <a href="{% url 'newsfeed:post_delete' pk=object.pk %}">Delete Post</a>
    {% endif %}
{% endblock %}